.user-page {
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    /* border: 1px solid #4f4f4f; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    min-width: 720px;
    padding: 0 1rem 1rem 1rem;
    width: 70vw;
}

.user-page section {
    align-items: flex-start;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 35vh;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
}

.input-with-button {
    width: 100%;
}

.user-button {
    border-radius: 20px;
}

#loaded-urls, #saved-chats {
    background-color: #4f4f4f;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    width: 90%;
}

.user-page section ul {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 2rem;
    width: 90%;
}

.user-page section h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loaded-url-item, .saved-chat-item {
    align-items: center;
    border-bottom: 1px solid #4f4f4f;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    height: 40px;
    justify-content: space-between;
    min-height: 40px;
    padding: 0 10px;
    width: 100%;
}

.loaded-url-item a, .saved-chat-item span {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.delete-btn, .edit-btn, .save-btn {
    background-color: transparent;
}

.delete-btn:hover, .edit-btn:hover, .save-btn:hover {
    background-color: transparent;
}

.save-btn {
    height: 20px;
    width: 20px;
}

.chat-name-input {
    background-color: rgba(#4f4f4f,0.5);
    height: 20px;
    padding-right: 10px;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}

.action-buttons-up {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
}

.chat-info-div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#sections-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.action-msg-div {
    align-items: center;
    background-color: #10A37F;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    padding: 0 2rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    white-space: nowrap;
    width: auto;
}