.carousel-button {
    background-color: #4F4F4F;
    border: none;
    border-radius: 40px;
    color: #D9D9D9;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    height: 50px;
    line-height: 0.8;
    margin: 0 10px;
    padding: 0.5rem 1rem;
    width: 50px;
    z-index: 1;
}
  
.carousel-button.left {
    left: 0;
}
  
.carousel-button.right {
    right: 0;
}
  
.carousel-button:active {
    outline: none;
    box-shadow: none; 
}

.carousel-button:disabled {
    background-color: #242424;
    color: #4F4F4F;
    cursor: not-allowed;
}