header {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    height: 100px;
    justify-content: flex-end;
    max-width: 1260px;
    padding: 1rem;
    width: 100%;
}

.header-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.header div {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

#main-page-div-btns {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}