.chat-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 50px auto;
    max-width: 800px;
}

.chat-area form {
    margin-bottom: 1rem;
    width: 100%;
}

.input-button-container,
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-with-button {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.input-with-button input {
    flex: 1;
    padding-right: 4rem;
}

.input-with-button button {
    position: absolute;
    right: 10px;
}

.ask-button {
    background-color: #10A37F;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.ask-button:hover {
    background-color: #0c8164;
}

#load-data-btn {
    background-color: #10A37F;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

#load-data-btn:hover {
    background-color: #0c8164;
}

.ai-input {
    display: none;
    flex: 1;
    margin-left: 0.5rem;
}
