.chat-area {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

.url-input-container {
    margin-bottom: 30px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message.user {
    justify-content: flex-end;
}

.message.ai {
    justify-content: flex-start;
}

.bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    background-color: #8A8A8A;
}

.bubble.user {
    text-align: right;
}

.bubble.ai {
    text-align: left;
}

.input-with-button {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.ask-button, .url-button {
    background-color: #10A37F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.ask-button:hover, .url-button:hover {
    background-color: #218838;
}
