html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #0b0b0b;
  background-image: url('../public/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

input:focus,
button:focus {
  outline: none;
}
